.good{
    display: inline-block;
    position: relative;
    margin: 10px 20px;
}
.good p{
    margin-top: 10px;
    font-size: large;
}
.good img {
    width: 280px;
    height: 280px;
}
.good button{
    background-color: darkcyan;
    border-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    width: 150px;
    height: 30px;
}
.good h3{
    margin: 0 0 30px 0;
}